<h1>Matched profile</h1>
{{#each placeholder matchproile}}
<img src="/public/profile-stock-photos/{{placeholder images}}" alt="photo of {{placeholder name}}">
<ul>
  <li>{{placeholder name}}</li>
  <li>Hi, connect with me on {{placeholder facebooklink}}</li>
  <li>{{placeholder contact}}</li>
</ul>
{{/each}}
<br>