
{{#each placeholder matchproile}}
  <section class="standard-entry">
    <div class="blog-image">
      <img src="/public/profile-stock-photos/{{placeholder images}}" alt="photo of {{placeholder name}}">
    </div>


    <h3 class="blog-title soft-skills">
      Hi im {{placeholder name}}, connect with me on {{placeholder contacts}}
    </h3>
  </section>
{{/each}}

{{!-- 
{{#each placeholder matchproile}}
  <section class="standard-entry">
    <div class="blog-image">
      <img src="/public/profile-stock-photos/{{placeholder images}}" alt="photo of {{placeholder name}}">
    </div>


    <ul class="blog-title soft-skills">
      <li> 
        Hi im {{placeholder name}}, connect with me on {{placeholder contacts}}
      </li>
    </ul>
  </section>
{{/each}} --}}
